page-personstatus {
    .icon1 {
        position: absolute;
        top: 15%;
        left: 60%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        display: block;
        zoom: 2.5;
    }
    .icon2 {
        position: absolute;
        top: 15%;
        left: 35%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        display: block;
        zoom: 2.5;
    }
}
