<!--
  Generated template for the RespMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>resp-map</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="overlay" fullscreen="true" no-bounce>
  <ion-fab top>
    <img *ngIf="looking==true" top src="assets/imgs/user/wfr.gif" class="loading">
  </ion-fab>
  <!-- <ion-fab *ngIf="responderongoing==0" left top> -->
      <ion-fab left top>
    <button color="trans" ion-fab menuToggle><ion-icon color="primary" name="menu"></ion-icon></button>
    <button color="trans" (click)="showEmergency($event)" ion-fab><img src={{emergencycolor}} class="togglesht"></button>
    <button color="trans" (click)="showHCF($event)" ion-fab><img src={{HCFcolor}} class="togglesht"></button>
    <button color="trans" (click)="showevac($event)" ion-fab><img src={{evaccolor}} class="togglesht"></button>
    <button color="trans" (click)="emergencyhospital()" ion-fab><img src={{hosimage}} class="togglesht"></button>
    <!-- <button *ngIf="stat_id==2" color="trans" (click)="showlastlocation()" ion-fab><img src="assets/imgs/user/loc.png" class="togglesht"></button> -->
    <!-- <button color="trans" (click)="showlastlocation()" ion-fab><img src="assets/imgs/user/loc.png" class="togglesht"></button> -->
      <!-- <button color="trans" (click)="showreportedevents($event)" ion-fab><img src={{evaccolor}} class="togglesht"></button> -->
  </ion-fab>

  <!-- <ion-fab *ngIf="stat_id==2" right top>
    <button color="secondary" (click)="pushDone()" ion-fab><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab> -->

  <ion-fab *ngIf="loginService.resp_stat_id==0 && user_request_id!=NULL || loginService.resp_stat_id==1" right top>
    <button color="danger" (click)="cancelConfirm()" ion-fab><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <!-- <ion-fab *ngIf="statrouteforhcfs==1" right top>
    <button color="danger" (click)="cancelConfirm1()" ion-fab><ion-icon name="close"></ion-icon></button>
  </ion-fab> -->
  
  <ion-fab *ngIf="loginService.resp_stat_id==0 && user_request_id==NULL" right top>
    <button color="light" class="fab-trans" (click)="recenter()" ion-fab><ion-icon name="locate"></ion-icon></button>
  </ion-fab>

  <div #map [class]="mapClass">
      <!-- <div #map id="map"> -->
  </div>
  

<!-- <ion-footer text-center>
  <div *ngIf="passPage!=null">
    <button ion-button (click)="PushPage()" block>Make Report</button> 
  </div>
</ion-footer> -->
<ion-card>
  <ion-card-content>
      <div #directionsPanel></div>
  </ion-card-content>
</ion-card>
<ion-footer text-center>
  <div *ngIf="loginService.resp_stat_id==0 && user_request_id!=NULL">
    <button ion-button (click)="start()" class="reportBtn" block>{{ 'Start' | translate }}</button> 
  </div>
  <!-- <div *ngIf="stat_id==1 && trytry>100">
    <button ion-button (click)="pushArrive()" class="reportBtn" disabled block>Arrive</button> 
  </div>
  <div *ngIf="stat_id==1 && trytry<=100">
    <button ion-button (click)="pushArrive()" class="reportBtn" block>Arrive</button> 
  </div> -->
  <div *ngIf="loginService.resp_stat_id==1">
    <button ion-button (click)="pushArrive()" class="reportBtn" block>{{ 'Arrive' | translate }}</button> 
  </div>
  <!-- <div *ngIf="stat_id==1 && trytry<=100">
    <button ion-button (click)="pushArrive()" class="reportBtn" block>Arrive</button> 
  </div> -->
  <div *ngIf="loginService.resp_stat_id==2 || loginService.resp_stat_id==4" > 
    <button *ngIf="cfb==true" disabled ion-button class="reportBtn" (click)="requestCallForBackUp()">{{ 'Call' | translate }}</button>
    <button *ngIf="cfb==false" ion-button class="reportBtn" (click)="requestCallForBackUp()">{{ 'Call' | translate }}</button>
    <button *ngIf="loginService.resp_stat_id==2" ion-button (click)="opendisposition()" class="reportBtn" >{{ 'Disposition' | translate }}</button>
    <button *ngIf="loginService.resp_stat_id!=2" disabled ion-button (click)="opendisposition()" class="reportBtn" >{{ 'Disposition' | translate }}</button>
    <!-- <button ion-button (click)="pushDone()" class="reportBtn" >Done</button> -->
  </div>

  <!-- <ion-card>
    <ion-card-content>
        <div #directionsPanel></div>
    </ion-card-content>
  </ion-card> -->
</ion-footer>
</ion-content>